[Unit]
Description=Monitor agent for ElasticSearch
After=network.target

[Service]
Type=forking
WorkingDirectory=/opt/es_agent
PIDFile=/var/run/elasticsearch/es_agent.pid
ExecStart=/opt/es_agent/bin/es_agent start
ExecReload=/opt/es_agent/bin/es_agent restart
ExecStop=/opt/es_agent/bin/es_agent stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target